:root {
  --primary-color: #222831;
  --secondary-color: #393E46;
  --accent: #FFD369;
  --error: #C14848;
}

main {
  display: flex;
}

#quiz-container h1 {
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  opacity: 0;
  transition: opacity 3s ease-in-out;
}

#quiz-container h1.show {
  opacity: 1;
}
  
  #question-container {
    display: flex;
    justify-content: center;
  text-align: center;
    color: var(--accent);
    padding: 25px 0 35px 0;
  }

  #question-container h2 {
    font-family: 'Courier Prime', monospace;
    width: 50%;
    font-weight: 100;
    font-size: 35px;
    color: wheat;
    padding: 15px;
    border-radius: 20px;
  }

  #options-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row; 
    color: var(--primary-color);
  }

  /*Option Button */
  
  #options-container button {
    font-family: 'Bungee Inline', cursive;
    display: inline;
    align-self: center; 
    justify-content: center;
    padding: 35px;
    margin: 25px 30px;
    color: var(--accent);
    border-radius: 50px;
    cursor: pointer;  
    transition: background-color 0.3s ease;
    background-color: var(--accent);
    color: var(--primary-color);
    border: none;
    transition: all .1s ease-in-out;
    border: solid 3px var(--accent);
  }

  #options-container button:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--accent);
  }
  
  #result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
  }

  @media (max-width: 850px){
    #quiz-container {
  display: flex;
  flex-direction: column;
}

    #quiz-container h1 {
  font-size: 36px;
  font-weight: 100;
  width: 70%;
  display: flex;
  justify-self: center;
  align-self: center;
}
#question-container h2 {
  font-size: 24px;
}
#options-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  grid-gap: 15px;
}

#options-container button {
  padding: 20px;
  margin: 15px 20px;
  width: 60%;
}

#options-container button:nth-child(odd):last-child {
  grid-column: 1 / span 2;
  justify-self: center;
  width: 30%
}
  };
    
  
