:root {
  --primary-color: #222831;
  --secondary-color: #393E46;
  --accent: #FFD369;
  --error: #C14848;
}

main {
  display: flex;
}

#quiz-container h1 {
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  opacity: 0;
  transition: opacity 5s ease-in-out;
}

#quiz-container h1.show {
  opacity: 1;
}
  
  #question-container {
    display: flex;
    justify-content: center;
  text-align: center;
    color: var(--accent);
    padding: 25px 0 35px 0;
  }

  #question-container h2 {
    font-family: 'Courier Prime', monospace;
    width: 50%;
    font-weight: 100;
    font-size: 35px;
    color: wheat;
    padding: 15px;
    border-radius: 20px;
  }
  
  /*Option Button */

  #options-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row; 
    color: var(--primary-color);
  }
  
  #options-container button {
    font-family: 'Bungee Inline', cursive;
    display: inline;
    border: none;
    align-self: center; 
    justify-content: center;
    padding: 35px;
    margin: 25px 30px;
    color: var(--accent);
    background-color: rebeccapurple;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #options-container button:hover {
    background-color: var(--accent);
    color: var(--primary-color);
  }
  
  
  #result-container {
  
  }

  /*Result Title*/
  #result-container h2 {
    font-size: 28px;
  }

  /*Result Description*/
  #result-container p {
    font-size: 18px;
  }
  