/* USE var() TO SET COLOURS */
:root {
    --primary-color: #222831;
    --secondary-color: #393E46;
    --accent: #FFD369;
    --error: #C14848;
}

body {
    background-color: var(--primary-color);
}

input:focus {
    outline: none;
}

/* -- GENERAL STYLING, see Figma -- */

h1,
h2,
h3,
h4 {
    font-family: 'Bungee Inline', cursive;
    color: var(--accent);
}

h1 {
    font-size: 48px;
}

h2 {
    /* font-size: 36px; */
    font-size: 24px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

strong,
p,
a,
input {
    font-family: 'Courier Prime', monospace;
    font-size: 24px;
    color: var(--accent);
    text-decoration: none;
}

strong {
    font-weight: 700;
}

.h2-small {
    font-size: 20px;
}

.p-small {
    font-size: 12px;
}
.p-bold {
    font-weight: 600;
}

input {
    text-transform: uppercase;
}

/*-- HEADER -- */

header {
    height: 80px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.logo {
    font-family: 'Bungee Inline', cursive;
    color: var(--accent);
    font-size: 24px;
}

nav, .nav-link-container {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
}

nav a {
    padding-top: 3px;
}

#random-cocktail-nav-btn {
    cursor: pointer;
}

.last-nav-button {
    margin-right: 78.73px;
}

.mobile-menu-bg-screen{
    display: none;
}
/* -- SEARCH BARS -- */

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 24px);
    background-color: var(--secondary-color);
    height: 54px;
    border-radius: 40px;
    padding: 16px 12px 10px 12px;
    position: relative;
    z-index: 4;
}

.search-container {
    position: absolute;
    right: 0;
}

.main-search-container {
    width: 100%;
    position: relative;
}

.main-container {
    width: 100%;
}

.nav-search-bar {
    border: 3px solid var(--accent);
    padding: 8px 8px 5px 8px;
    gap: 32px;
    transition: width .4s ease-in-out;
    justify-content: flex-end;
    width: 27.4px;
    overflow: hidden;
    height: auto;
}

.decorative-search-border {
    width: 74px;
    height: 74px;
    border: 3px solid var(--accent);
    position: absolute;
    border-radius: 40px;
    right: -3px;
    top: 0;
    transition: width .4s ease-in-out;
    pointer-events: none;
}

.search-bar:hover .decorative-search-border {
    width: 100%;
}

.search-container:hover .nav-search-bar {
    width: 455px;
}

.search-bar input {
    background: none;
    border: none;
    padding-left: 10px;
    width: calc(100% - 90px)
}

.nav-search-bar input {
    padding-left: 0;
}

.search-bar input::placeholder {
    color: var(--accent);
    line-height: none;
    opacity: .2;
}

.search-bar button {
    background: none;
    border: none;
    padding: 0 4px;
    cursor: pointer;
}

.search-bar button img {
    height: 40px;
}

.nav-search-bar button img {
    height: 20px;
}

#predictive-search-results {
    background-color: var(--secondary-color);
    position: absolute;
    width: 100%;
    overflow: hidden;
    padding: 0 0 0 0;
    top: calc(47.93px / 2);
    border-radius: 0 0 20px 20px;
    max-height: 0;
    transition: all .4s ease-in-out;
    display: none;
    z-index: 3;
}

#main-predictive-search-results {
    background-color: var(--secondary-color);
    position: absolute;
    width: 100%;
    overflow: hidden;
    padding: 0 0 0 0;
    top: 40px;
    border-radius: 0 0 20px 20px;
    max-height: 0;
    transition: all .4s ease-in-out;
    display: none;
}

.predictive-search-item {
    margin: 0;
    padding: 5px 40px;
    background-color: var(--secondary-color);
    transition: all .1s ease-in-out;
}

.predictive-search-item:hover {
    margin: 0;
    padding: 5px 40px;
    background-color: var(--accent);
    color: var(--primary-color);
    cursor: pointer;
}

.search-container:hover #predictive-search-results {
    padding: 30px 0 15px 0;
    max-height: 422px;
}

.main-search-container:hover #main-predictive-search-results {
    padding: 55px 0 15px 0;
    max-height: 422px;
}

/* -- RESPONSIVE HEADER AND SERACH BAR -- */

#mobile-menu-btn {
    display: none;
    margin: 0;
    position: relative;
    top:3px;
    user-select: none;
}

#mobile-menu-btn:hover {
    cursor: pointer;
}

@media (max-width:850px) {
    header {
        height: 60px;
    }
    .logo{
        font-size: 20px;
    }
    #mobile-menu-btn {
        display: block;
    }
    nav {
        display: flex;
        position: absolute;
        justify-content: space-between;
        top: 60px;
        left:0;
        width: 100%;
        background-color: var(--secondary-color);
        flex-direction: column-reverse;
        border-radius: 0 0 20px 20px;
        height: 0;
        z-index: 10;
        overflow: hidden;
        transition: height .2s ease-in-out;
    }
    .nav-link-container{
        flex-direction: column;
        gap:10px;
    }
    .last-nav-button {
        margin: 0 0 60px 0;
    }
    .search-container {
        position: relative;
    }
    .nav-search-bar {
        width: calc(100vw - 80px);
        background-color: var(--primary-color);
        transition: none;
    }
    .search-container:hover .nav-search-bar {
        width: calc(100vw - 80px);
    }
    #predictive-search-results, .predictive-search-item {
        background-color: var(--primary-color);
        font-size: 20px;
    }
    .predictive-search-item {
        padding: 5px 40px;
    }
    .index-predictive-search-item{
        background-color: var(--secondary-color);
    }
    .mobile-menu-bg-screen {
        display: block;
        background-color: var(--primary-color);
        height: calc(100vh - 60px);
        width: 100vw;
        position: absolute;
        z-index: 9;
        top:60px;
        left: 0;
        opacity: 0;
        transition: opacity .2s ease-in-out;
        pointer-events: none;
    }
    #predictive-search-results {
        top: calc(47.93px / 2);
        padding: 30px 0 15px 0;
        max-height: 422px;
    }
    #main-predictive-search-results {
        padding: 35px 0 15px 0;
        max-height: 422px;
        top: 40px;
        top: 30px
    }
    .search-container:hover #predictive-search-results {
        padding: 30px 0 15px 0;
        max-height: 422px;
    }
    .main-search-container:hover #main-predictive-search-results {
        padding: 35px 0 15px 0;
        max-height: 422px;
    }
}

/* -- FOOTER -- */

footer {
    display: flex;
    height: 80px;
    width: calc(100% - 60px);
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* -- INDEX PAGE -- */

.fullscreen-responsive {
    width: 100%;
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.btns-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.homepage-btn {
    padding:10px 20px;
    background-color: var(--accent);
    font-family: 'Bungee Inline', cursive;
    font-size: 24px;
    color: var(--primary-color);
    border: none;
    border-radius: 25px;
    transition: all .1s ease-in-out;
    border: solid 3px var(--accent);
}

.homepage-btn:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--accent);
}


@media (max-width:850px) {
    .fullscreen-responsive {
        height: calc(100vh - 140px);
    }
}

@media (max-width:760px) {
    .main-container {
        width: calc(100% - 60px);
    }
    .index-search-bar {
        height: 34px;
        border-radius: 40px;
        padding: 16px 12px 10px 12px;
    }
    .decorative-search-border {
        height: 54px;
        width: 100%;
    }
    .index-search-bar button {
        padding: 0;
    }
    .index-search-bar button img {
        height: 30px;
    }
    .btns-container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: 15px;
    }
    .homepage-btn {
        font-size: 20px;
    }
}
/* -- BROWSE ALL COCKTAILS PAGE --  */

.browse-page{
    flex-direction: column;
    padding:40px 0;
}

.browse-page h2{
    text-align: center;
    margin: 0 0 40px 0;
 }

 .cocktail-display-container{
    display: flex;
    flex-direction: column;
    width: calc(100% - 180px);
    padding: 0 90px;
    gap: 90px;
 }

 .select-ingredients-container{
    display: flex;
    flex-direction: column;
    color: var(--accent);
    width: 100%;
}

.browse-page h4{
     font-size: 22px;
     letter-spacing: 2px;
}

#cocktail-container{
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    flex:1 1 0;
    gap: 30px;
    padding:40px 90px 0 90px;
}

.cards{
    height: 220px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding:10px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    text-overflow: ellipsis;
    border: solid 2px var(--primary-color);
    transition: border-color .1s ease-in-out;
 }

 .cards:hover{
    border-color: var(--accent);
 }

 .cards h2{
    text-align: right;
    font-size: 16px;
    margin: 0;
 }

 /* FILTER RESULTS */

.filter-display {
    width: calc(100% - 180px);
    margin: auto;
    position: relative;
}

.fas{
    font-size: 26px;
    padding: 15px;
    transition: all .2s ease-in-out;
}

.rotate-arrow{
    transform: rotate(180deg);
}

#filter-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: var(--accent);
    height: 40px;
    border-radius: 10px;
    position: relative;
    z-index: 2;
}
#filter-btn strong{
    color:var(--primary-color);
}
.filter-container{
    top:-20px;
    height: 0;
    background-color: var(--secondary-color);
    position:relative;
    width: calc(100% - 60px);
    z-index: 1;
    border-radius: 0 0 10px 10px;
    transition: all .2s ease-in-out;
    overflow: hidden;
    display: flex;
    padding:0 30px;
    gap:30px;
}
.active {
    height: 540px;
    padding:50px 30px 30px 30px;
}

.filter-options {
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
}

.ingreditents-options{
    flex: 1 1 0;
}

.additional-options{
    width: 300px;
}

.selection-container{
    background-color: var(--primary-color);
    border-radius: 10px;
    width: calc(100% - 40px);
    padding: 30px;
    color: var(--accent);
}

#ingreditents{
    flex: 1 1 0;
    display: grid;
    column-gap: 30px;
    row-gap: 5px;
    overflow: hidden;
    grid-template-columns: repeat(4, 1fr);
    overflow-y : auto;
}

.ingredient-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:3px;
    border-radius: 3px;
}
.ingredient-container:hover{
    cursor: pointer;
    background-color: var(--accent);

}
.ingredient-container:hover p{
    color: var(--primary-color);
}

.ingredient-container p{
    font-size: 15px;
    margin: 0;
}

#reset-filters-btn{
    background-color: var(--accent);
    border:none;
    border-radius: 10px;
    width:100%;
    height: 76px;
    font-family: 'Courier Prime', monospace;
    font-size: 24px;
    color: var(--primary-color);
    font-weight: 700;
    transition: all .1s ease-in-out;
    border: solid 2px var(--accent);
    cursor: pointer;
}

#reset-filters-btn:hover {
    background-color: var(--primary-color);
    border-color:var(--accent);
    color: var(--accent);
}

.selected {
    background-color: var(--accent);

}
.selected p {
    color: var(--primary-color);
}
#no-results{
    display: none;
    padding: 0 90px;
    text-align: center;
}

/* -- LOADING SCREEN -- */

#loading-screen {
    height: calc(100vh - 80px);
    position: absolute;
    top: 80px;
    z-index: 5;
    background-color: var(--primary-color);
}

.ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 200px;
    font-family: 'Bungee Inline', cursive;
    font-size: 24px;
    color: var(--accent);
    letter-spacing: 4px;
    text-transform: uppercase;

}

.ring:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 5px solid transparent;
    border-top: 3px solid var(--accent);
    border-right: 3px solid var(--accent);
    border-radius: 50%;
    animation: animateC 2s linear infinite;
}

span {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
}

span:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--accent);
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px var(--accent);
}

@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}

/* v-- hidden while loading screen is displayed --v */
main {
    display: none;
    flex-direction: column;
}

/* -- GENERAL CONTENT STYLING --  */

/* This wraps main, section, etc. for equal margins */
.content-wrapper {
    margin: 2.5rem;
    text-align: center;
}

/* -- About Page -- */
.team-card-container {
    width: 100%;
    display: flex;
    gap: 5rem;
    justify-content: space-around;
    align-items: center;
    padding-top: 3.75rem;
}

/* team cards */
.team-card {
    background-color: var(--secondary-color);
    width: 15rem;
    border-radius: 0.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.875rem;
    margin: 0.625rem;
}

.team-card img {
    width: 14rem;
    height: 14rem;
    border-radius: 7rem; /* to scale for img */
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 5.625rem;
    border: solid 0.125rem var(--accent);
}

.team-card h3, .team-card p {
    color: var(--accent);
    margin: 0; /* needed */
    padding: 0; /* needed */
}

.team-card h3 {
    margin-top: -3rem;
    margin-bottom: 1.25rem;
}

.team-card p {
    /* v-- can delete if/when UI Standards implemented */
    font-size: 1rem;
    margin-bottom: 1.25rem;
}

.team-card button {
    width: 12rem;
    background-color: var(--accent);
    color: var(--primary-color);
    font-family: 'Bungee Inline';
    font-size: 1.25rem;
    border-style: none;
    border-radius: .625rem;
    padding: 1rem 2rem;
}

.team-card button:hover {
    background-color: var(--primary-color);
    color: var(--accent);
}

/* -- MOBILE: About Page -- */

/* -- smallest, portrait --  */
@media all and (min-width: 20em) and (orientation: portrait) {

    .team-card-container {
        flex-direction: column;
    }

    .team-card {
        width: 12.5rem;
    }

    .team-card > img {
        width: 12rem;
        height: 12rem;
    }

    .team-card button {
        width: 12rem;
    }
}

 /* -- smallest, landscape -- */
@media all and (min-width: 20em) and (orientation: landscape) {

    .team-card-container {
        flex-wrap: wrap;
    }
}

 /* -- 2k or 4k etc -- */
@media all and (width > 120rem) and (orientation: landscape) {

    .team-card-container {
        gap: 5.8rem;
    }

    .team-card {
        width: 18rem;
        border-radius: .725rem;
        padding: 2.175rem;
        margin: .725rem;
    }

    .team-card img {
        width: 16.24rem;
        height: 16.24rem;
        border-radius: 8.12rem;
        bottom: 6.525rem;
        border: solid 0.145rem var(--accent);
    }
    .team-card h3 {
        margin-top: -3.48rem;
        margin-bottom: 1.45rem;
    }

    .team-card p {
        font-size: 1.16rem;
        margin-bottom: 1.45rem;
    }

    .team-card button {
        width: 13.92rem;
        font-size: 1.45rem;
        border-radius: .725rem;
        padding: 1.16rem 2.32rem;
    }
}

/* DETAILS PAGE STYLING */

.current-image{
    display: flex;
    margin: 50px 50px;
}

.current-image img{
    width: 500px;
    height: 600px;
    border-radius: 20px;
    margin-top: 22px;
}

.current-image-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 100px;
}

.current-image h3{
    letter-spacing: 5px;
}

.ingredients{
    padding-bottom: 40px;

}

#list-of-ingredients{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}

.ingredients button{
    font-family: 'Courier Prime', monospace;
    color: var(--seconday-color);
    background-color: var(--accent);
    padding: 8px 5px;
    border-radius: 10px;
    border: solid 3px var(--accent);
}

.ingredients button:hover{
    color: var(--accent);
    background-color: var(--primary-color);
    border: solid 3px var(--accent);
    cursor: pointer;
}

.current-image{
    display: flex;
    margin: 50px 50px;
}

.current-image img{
    width: 50%;
    height: 600px;
    border-radius: 20px;
    margin-top: 22px;
}

.current-image-info{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 100px;
}

.current-image h3{
    letter-spacing: 5px;
}

.ingredients{
    padding-bottom: 40px;
}

#list-of-ingredients{
    display: flex;
    gap:10px;
    flex-wrap: wrap;
}

.ingredients button{
    font-family: 'Courier Prime', monospace;
    color: var(--seconday-color);
    background-color: var(--accent);
    padding: 8px 5px;
    border-radius: 10px;
    border: solid 3px var(--accent);
}

.ingredients button:hover{
    color: var(--accent);
    background-color: var(--primary-color);
    border: solid 3px var(--accent);
    cursor: pointer;
}

.current-image-name{
    letter-spacing: 3px;
}

/* SCROLLBAR INGREDIENTS */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--accent);
    border-radius: 8px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 10px;
  }

.selection-container::-webkit-scrollbar {
    width: 15px;
    height: 10%;
  }

/* MAX INGREDIENTS SLIDER */

#slider-input input{
    width: 100%;
    height: 4px;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--accent);
    appearance: none;
}


#slider-input input[type=range]::-webkit-slider-thumb {
    --c: var(--accent); /* active color */
    --g: 10px; /* the gap */
    --l: 2px; /* line thickness*/
    --s: 10px; /* thumb size*/
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #222831;
    box-shadow: 0 0 0 var(--l) inset var(--c);
    appearance: none;
  }

  #complexity-message{
    text-align: center;
}

#alcoholic-choises{
    line-height: 45px;
    font-size: 20px;
    text-align: center;
}

@media (max-width: 1024px) {

        .fullscreen-responsive {
            height: calc(100vh - 100px);
        }

    /* HEADER */

        #mobile-menu-btn{
            font-size: 28px;
        }


    /* BROWSE PAGE MOBILE LAYOUT */

        #cocktail-container{
            grid-template-columns: repeat(3, minmax(0, 1fr));
            flex: 1 1 0;
            gap: 30px;
            padding: 40px 90px 0 90px;
        }

        .active {
            height: 450px;
            padding: 50px 30px 30px 30px;
        }

        .filter-options{
            gap: 10px;
        }

        #ingreditents{
            display: block;
        }

        .additional-options{
            width: 45%;
        }

        #complexity-message{
            font-size: 20px;
        }

        #alcoholic-choises{
            font-size: 18px;
        }

        #reset-filters-btn{
            font-size: 20px;
            padding: 10px;
            margin-top: 20px;
        }

        #slider-input{
            padding: 20px 30px;
            margin-bottom: 5px;
        }

        #alcoholic-choises{
            padding: 20px 30px;
        }

    /* DETAILS PAGE MOBILE LAYOUT */

        .current-image{
            flex-direction: column;
            align-items: center;
            position: relative;
            margin: 10px;
        }

        .current-image img {
            height: 500px;
            width: 500px;
            border-radius: 20px;
            margin-top: 80px;
        }

        .current-image-name{
            position: absolute;
            top: 0;
            left: 50%;
        }

        .current-image-info {
            gap: 10px;
            margin: 0 50px 50px 50px;
            text-align: center;
        }

        .ingredients{
            border-bottom: 2px solid var(--accent);
            padding-bottom: 40px;
            text-align: center;

        }

        #list-of-ingredients {
            justify-content: center;
        }

        #cocktail-method{
            border-bottom: 2px solid var(--accent);
            padding-bottom: 30px;
        }
    }

@media(max-width: 720px){
        strong{
            font-size: 18px;
        }

        #alcoholic-choises{
            font-size: 16px;
        }

        #reset-filters-btn{
            margin-top: 35px;
        }
    }

@media (max-width: 600px){
        /* BROWSE PAGE MOBILE LAYOUT */
        #cocktail-container{
            grid-template-columns: repeat(2, minmax(0, 1fr));
            padding: 40px 40px 0 40px;
            gap: 10px;
        }

        .cards{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 180px;
        }

        .active {
            padding: 40px 30px 30px 30px;
        }

        #alcoholic-choises{
            display: flex;
            justify-content: space-between;
            line-height: 10px;
            padding: 20px;
            width: 120%;
            font-size: 14px;
        }

        .filter-display{
            width: calc(100% - 80px);
        }

        .fas{
            font-size: 20px;
        }

        .filter-container{
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #slider-input{
            padding: 0 20px;
            width: 120%;
        }

        .active{
           padding: 30px 30px 10px 30px;
        }

        #reset-filters-btn{
            height: 40px;
            font-size: 16px;
            margin-top: 5px;
        }

        .selection-container{
            padding: 0 40px 120px 40px;
        }

        /* DETAILS PAGE MOBILE LAYOUT */

        p{
            font-size: 16px;
        }

        .current-image img {
            height: 300px;
            width: 300px;
        }

        .current-image-name{
            left: 44%;
        }

        h3{
            font-size: 20px;
        }

        #list-of-ingredients button{
            font-size: 14px;
        }

        #complexity-message{
            font-size: 16px;
            }

        .additional-options{
            width: 80%;
        }

        .browse-page h2{
            margin: 0 0 15px 0;
        }
    }

@media(max-width: 320px){

    .selection-container{
        padding: 0 26px 60px 26px;
    }

    .browse-page h2{
        font-size: 18px;
    }

    strong{
        font-size: 14px;
    }

    #alcoholic-choises{
        font-size: 12px;
    }

    #reset-filters-btn{
        height: 40px;
        width: 210px;
    }
}

